body {
	margin: 0;
	font-size: 10px;
	font-family: "FiraSans";
}

body.loading {
	background: url(../img/gears.svg) 50% 50%;
}

gaia-header #upload-link {
  background: url(../img/upload.svg) no-repeat 50% 50% / 38px !important;
  filter: invert(100%);
}

#app-list {
	font-size: 25px;
}

#app-list > .app-item {
	height: 3.4rem !important;
	line-height: 3.4rem !important;
	padding: .3rem !important;
}
#app-list > .app-item::before {
	display: none !important;
}

#app-list > .app-item:nth-child(odd) {
	background-color: #eaeaea !important;
}

#app-list .app-icon {
	max-height: 100%;
	float: left;
	margin-right: 13px;
}

#app-list .app-description {
	color: black !important;
	font-size: 25px !important;
}

#app-list .app-install {
	float: right;
	margin: 0 !important;
}

#app-list .action-icon{
	width: unset !important;
}
