body {
  margin: 0;
  font-size: 10px;
  font-family: "FiraSans";
}

body.loading {
  background: url(../img/gears.svg) 50% 50%;
}

gaia-header #upload-link {
  background: url(../img/upload.svg) no-repeat 50% 50% / 38px !important;
  filter: invert(100%);
}

#app-list > .app-item {
  height: 66px;
}

#app-list > .app-item::before {
  display: none !important;
}

#app-list > .app-item:nth-child(odd) {
  background-color: #eaeaea !important;
}

#app-list .app-icon {
  max-height: 100%;
  float: left;
  margin-right: 13px;
}

#app-list .app-description {
  color: black !important;
}

.app-name {
  font-size: 19px !important;
  margin: 0;
}

.app-author {
  font-size: 15px !important;
  margin: 0 0 0 2px;
  color: #545454 !important;
}

#app-list .app-details {
  float: right;
  color: #626262;
}
